@import "../content.css";

body {
  background-color: var(--background);
  color: var(--text);
}
.preview {
  width: var(--overlay-width);
}

form {
  display: block;
}
form label {
  display: flex;
  gap: 1em;
}
form label > span {
  align-self: center;
}
form input {
  display: inline-block;
  background-color: var(--background-2);
  color: var(--text-2);
  border: 1px solid var(--border);
}
form label input {
  flex: 1 0 auto;
}
form input:invalid {
  border-color: red;
}

.custom-action {
  display: flex;
  flex-wrap: wrap;
}

.custom-action > * {
  flex: 0 1 auto;
  flex-basis: 50%;
}
