@import "../common/page.css";

.preview {
  width: var(--overlay-width);
}

img.logo {
  width: 100px;
}

form {
  display: block;
}
form .buttons {
  gap: 1em;
  display: flex;
}
form label {
  display: flex;
  gap: 1em;
}
form label > span {
  align-self: center;
}

form label input {
  flex: 1 0 auto;
}
form input:invalid {
  border-color: red;
}

.custom-action {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px var(--border);
  border-radius: 10px;
  box-shadow: 2px 2px 8px #6666;
  padding: 1em;
  margin-bottom: 1rem;
}

.custom-action > * {
  flex: 1 1 auto;
  flex-basis: 50%;
}
