@import "../content.css";

body {
  background-color: var(--background);
  color: var(--text);
}

input,
button {
  display: inline-block;
  background-color: var(--background-2);
  color: var(--text-2);
  border: 1px solid var(--border);
  padding: 0.5em;
  margin: 0 0.5em;
}
button {
  cursor: pointer;
}
input:hover,
button:hover {
  background-color: var(--placeholder);
  color: var(--text);
}

button:active {
  background-color: var(--background);
}
button:disabled {
  background-color: var(--background);
  color: var(--text-2);
  cursor: default;
  opacity: 0.8;
}

.card {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px var(--border);
  border-radius: 10px;
  box-shadow: 2px 2px 8px #6666;
  padding: 1em;
  margin-bottom: 1rem;
}

.card > * {
  flex: 1 1 auto;
  flex-basis: 50%;
}
